<h3 class="ui header">{{t "forms.i-i-s-vydokh-отпуск-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-vydokh-отпуск-e.датаПроводки-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаПроводки
      class=(if (v-get validationModel "датаПроводки" "isInvalid") "error")
      data-test-i-i-s-vydokh-отпуск-e-датаПроводки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаПроводки" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-vydokh-отпуск-e.сотрудники-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудники
      displayAttributeName="фИО"
      autocomplete=true
      relationName="сотрудники"
      projection="СотрудникиL"
      title=(t "forms.i-i-s-vydokh-отпуск-e.сотрудники-caption")
      readonly=readonly
      componentName="сотрудникиLookup"
      class=(if (v-get validationModel "сотрудники" "isInvalid") "error")
      data-test-i-i-s-vydokh-отпуск-e-сотрудники=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудники" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-vydokh-отпуск-e.заказ-caption"}}</label>
    {{flexberry-groupedit
      componentName="заказGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.заказ
      content=model.заказ
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "заказ" "isInvalid") "error")
      data-test-i-i-s-vydokh-отпуск-e-заказ=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "заказ" "message")}}
  </div>
</form>
